{% extends 'core/base.html' %}
{% block content %}
<h2>search transactions history</h2>

<form method="GET" action="{% url 'search_transactions' %}">

    <div class="mb-3">
        <input type="text" name="search" class="form-control" placeholder="please input the title" value="{{ query }}">
    </div>
    <button type="submit" class="btn btn-primary">search</button>
</form>

{% if results %}
    <h4 class="mt-4">result：</h4>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>file name</th>
                <th>uploader</th>
                <th>current owner</th>
                <th>transaction time</th>
                <th>transaction type</th>
            </tr>
        </thead>
        <tbody>
            {% for r in results %}
            <tr>
                <td>{{ r.filename }}</td>
                <td>{{ r.uploader }}</td>
                <td>{{ r.current_owner }}</td>
                <td>{{ r.timestamp }}</td>
                <td>{{ r.trans_type }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% elif query %}
    <p class="mt-4">Cannot find any results.</p>
{% endif %}

{% endblock %}
